<section class="" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
		<p class="p-2 text-sm font-medium tracking-wider text-center uppercase">How it works</p>
		<h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">
			Frequently Asked Questions
		</h2>
		<div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
			<div>
				<h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
				<p class="mt-1" [ngClass]="['text' + plainInv]">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, fugit?
					Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem consequatur
					ratione, doloremque debitis? Fuga labore omnis minima, quisquam delectus culpa!
				</p>
			</div>
			<div>
				<h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
				<p class="mt-1" [ngClass]="['text' + plainInv]">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, fugit?
					Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem consequatur
					ratione, doloremque debitis? Fuga labore omnis minima, quisquam delectus culpa!
				</p>
			</div>
			<div>
				<h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
				<p class="mt-1" [ngClass]="['text' + plainInv]">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, fugit?
					Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem consequatur
					ratione, doloremque debitis? Fuga labore omnis minima, quisquam delectus culpa!
				</p>
			</div>
			<div>
				<h3 class="font-semibold">Lorem ipsum dolor sit amet.</h3>
				<p class="mt-1" [ngClass]="['text' + plainInv]">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, fugit?
					Aspernatur, ullam enim, odit eaque quia rerum ipsum voluptatem consequatur
					ratione, doloremque debitis? Fuga labore omnis minima, quisquam delectus culpa!
				</p>
			</div>
		</div>
	</div>
</section>
