<div class="container p-4 mx-auto" [ngClass]="['text' + defaultInv]">
	<h2 class="mb-4 text-2xl font-semibold leading-tight">Contacts</h2>
	<div class="overflow-x-auto">
		<table class="w-full p-6 text-xs text-left whitespace-nowrap">
			<colgroup>
				<col class="w-5" />
				<col />
				<col />
				<col />
				<col />
				<col />
				<col class="w-5" />
			</colgroup>
			<thead class="">
				<tr class="" [ngClass]="['bg' + neutral]">
					<th class="p-3">A-Z</th>
					<th class="p-3">Name</th>
					<th class="p-3">Job title</th>
					<th class="p-3">Phone</th>
					<th class="p-3">Email</th>
					<th class="p-3">Address</th>
					<th class="p-3"><span class="sr-only">Edit</span></th>
				</tr>
			</thead>
			<tbody
				*ngFor="let char of ['A', 'B', 'C']"
				class="border-b"
				[ngClass]="['bg' + contrast, 'border' + neutral]"
			>
				<tr *ngFor="let i of [1, 2, 3]">
					<td class="px-3 text-2xl font-medium" [ngClass]="['text' + plainInv]">
						{{ i == 1 ? char : '' }}
					</td>
					<td class="px-3 py-2">
						<p class="">Leroy Adams</p>
					</td>
					<td class="px-3 py-2">
						<span class="">UI Designer</span>
						<p class="" [ngClass]="['text' + plainInv]">Coca Cola co.</p>
					</td>
					<td class="px-3 py-2">
						<p class="">555-555-5555</p>
					</td>
					<td class="px-3 py-2">
						<p class="">leroy@jenkins.com</p>
					</td>
					<td class="px-3 py-2">
						<p class="">71 Cherry Court, SO</p>
						<p class="" [ngClass]="['text' + plainInv]">United Kingdom</p>
					</td>
					<td class="px-3 py-2">
						<button
							type="button"
							title="Open details"
							class="p-1 rounded-full"
							[ngClass]="['text' + plain, 'hover:bg' + neutral, 'focus:bg' + neutral]"
						>
							<svg class="w-4 h-4 fill-current" viewBox="0 0 24 24">
								<path
									d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z"
								/>
							</svg>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
