<section class="bg-primary text-default-inverse py-6">
	<div
		class="container p-10 flex flex-col justify-center items-center space-y-8 md:px-24 xl:px-48"
	>
		<h1 class="text-5xl leading-tight font-bold text-center">
			Something totally different
		</h1>
		<p class="text-xl text-center font-medium pt-2 pb-8">
			Eum omnis itaque harum at quae sequi unde similique alias asperiores
			totam. Ex cumque maxime harum doloremque, tempore nam fugiat
			aspernatur rerum ipsa unde est modi commodi molestias maiores
			eveniet eius esse asperiores neque dicta ea quisquam? Excepturi
			sapiente officiis explicabo ab?
		</p>

		<button class="bg-default text-primary font-semibold btn">
			Learn more
		</button>
	</div>
</section>
