<custom-showcase [title]="'Features'">
	<custom-show-code>
		<custom-feature1></custom-feature1>
	</custom-show-code>
	<custom-show-code>
		<custom-feature2></custom-feature2>
	</custom-show-code>
	<custom-show-code>
		<custom-feature3></custom-feature3>
	</custom-show-code>
	<custom-show-code>
		<custom-feature4></custom-feature4>
	</custom-show-code>
	<custom-show-code>
		<custom-feature5></custom-feature5>
	</custom-show-code>
	<custom-show-code>
		<custom-feature6></custom-feature6>
	</custom-show-code>
	<custom-show-code>
		<custom-feature7></custom-feature7>
	</custom-show-code>
	<custom-show-code>
		<custom-feature8></custom-feature8>
	</custom-show-code>
</custom-showcase>
