<section class="p-6" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<div class="container mx-auto">
		<span
			class="block mb-2 text-xs font-medium tracking-widest text-center uppercase"
			[ngClass]="['text' + primary]"
			>How it works</span
		>
		<h2 class="text-5xl font-bold text-center" [ngClass]="['text' + contrastInv]">
			Building with Mamba is simple
		</h2>
		<div class="grid gap-6 my-16 lg:grid-cols-3">
			<div class="flex flex-col p-8 space-y-4 rounded-md" [ngClass]="['bg' + contrast]">
				<div
					class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full"
					[ngClass]="['bg' + primary, 'text' + contrast]"
				>
					1
				</div>
				<p class="text-2xl font-semibold">
					<b>Nulla.</b> Nostrum, corrupti blanditiis. Illum, architecto?
				</p>
			</div>
			<div class="flex flex-col p-8 space-y-4 rounded-md" [ngClass]="['bg' + contrast]">
				<div
					class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full"
					[ngClass]="['bg' + primary, 'text' + contrast]"
				>
					2
				</div>
				<p class="text-2xl font-semibold">
					<b>Accusantium.</b> Vitae saepe atque neque sunt eius dolor veniam alias
					debitis?
				</p>
			</div>
			<div class="flex flex-col p-8 space-y-4 rounded-md" [ngClass]="['bg' + contrast]">
				<div
					class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full"
					[ngClass]="['bg' + primary, 'text' + contrast]"
				>
					3
				</div>
				<p class="text-2xl font-semibold">
					<b>Maxime.</b> Expedita temporibus culpa reprehenderit doloribus consectetur
					odio!
				</p>
			</div>
		</div>
	</div>
</section>
