<section class="text-default-inverse">
	<div class="container flex flex-col p-6">
		<h2 class="py-4 text-3xl font-bold text-center">Temporibus elit</h2>
		<div class="divide-y divide-neutral">
			<div class="grid justify-center grid-cols-4 mx-auto bg-default">
				<div
					class="flex items-center justify-center lg:col-span-1 col-span-full md:flex-row"
				>
					<i class="cil-library text-8xl"></i>
				</div>
				<div
					class="flex flex-col justify-center max-w-3xl p-8 text-center col-span-full lg:col-span-3 lg:text-left"
				>
					<span class="text-xs tracking-wider uppercase" [ngClass]="textPrimary"
						>Step 1 - Nihil</span
					>
					<span class="text-xl font-bold text-default-inverse md:text-2xl">
						Veritatis dolores
					</span>
					<span class="mt-4 text-neutral-inverse">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis,
						voluptates error alias dolorem praesentium sit soluta iure incidunt labore
						explicabo eaque, quia architecto veritatis dolores, enim cons equatur nihil
						ipsum.
					</span>
				</div>
			</div>

			<div class="grid justify-center grid-cols-4 mx-auto bg-default">
				<div
					class="flex items-center justify-center lg:col-span-1 col-span-full md:flex-row"
				>
					<i class="cil-opacity text-8xl"></i>
				</div>
				<div
					class="flex flex-col justify-center max-w-3xl p-8 text-center col-span-full lg:col-span-3 lg:text-left"
				>
					<span class="text-xs tracking-wider uppercase" [ngClass]="textPrimary"
						>Step 2 - Explicabo</span
					>
					<span class="text-xl font-bold text-default-inverse md:text-2xl">
						Iure incidunt labore
					</span>
					<span class="mt-4 text-neutral-inverse">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis,
						voluptates error alias dolorem praesentium sit soluta iure incidunt labore
						explicabo eaque, quia architecto veritatis dolores, enim cons equatur nihil
						ipsum.
					</span>
				</div>
			</div>

			<div class="grid justify-center grid-cols-4 mx-auto bg-default">
				<div
					class="flex items-center justify-center lg:col-span-1 col-span-full md:flex-row"
				>
					<i class="cil-paint-bucket text-8xl"></i>
				</div>
				<div
					class="flex flex-col justify-center max-w-3xl p-8 text-center col-span-full lg:col-span-3 lg:text-left"
				>
					<span class="text-xs tracking-wider uppercase" [ngClass]="textPrimary"
						>Step 3 - Facilis</span
					>
					<span class="text-xl font-bold text-default-inverse md:text-2xl">
						Dolorem praesentium
					</span>
					<span class="mt-4 text-neutral-inverse">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis,
						voluptates error alias dolorem praesentium sit soluta iure incidunt labore
						explicabo eaque, quia architecto veritatis dolores, enim cons equatur nihil
						ipsum.
					</span>
				</div>
			</div>

			<div class="grid justify-center grid-cols-4 mx-auto bg-default">
				<div
					class="flex items-center justify-center lg:col-span-1 col-span-full md:flex-row"
				>
					<i class="cil-code text-8xl"></i>
				</div>
				<div
					class="flex flex-col justify-center max-w-3xl p-8 text-center col-span-full lg:col-span-3 lg:text-left"
				>
					<span class="text-xs tracking-wider uppercase" [ngClass]="textPrimary"
						>Step 4 - Aperiam</span
					>
					<span class="text-xl font-bold text-default-inverse md:text-2xl">
						Explicabo eaque
					</span>
					<span class="mt-4 text-neutral-inverse">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis,
						voluptates error alias dolorem praesentium sit soluta iure incidunt labore
						explicabo eaque, quia architecto veritatis dolores, enim cons equatur nihil
						ipsum.
					</span>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <div class="flex flex-col justify-center px-6 text-center bg-teal-200 md:flex-row md:text-left">
	<div class="flex flex-col items-center justify-center">
		<div class="justify-center hidden w-56 h-12 md:flex">
			<div class="h-full border-dashed border-neutral"></div>
		</div>
		<i class="p-6 cil-library text-8xl"></i>
		<div class="justify-center hidden w-56 h-12 md:flex">
			<div class="h-full border-r-4 border-dashed border-neutral-inverse"></div>
		</div>
	</div>
	<div class="flex flex-col justify-center max-w-3xl bg-teal-200 rounded">
		<div class="text-xs text-teal-500 uppercase">Step 1 - Idea</div>
		<div class="text-xl font-bold text-teal-700 md:text-2xl">Find something that you like</div>
		<div class="mt-4 text-teal-800">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facilis, voluptates
			error alias dolorem praesentium sit soluta iure incidunt labore explicabo eaque, quia
			architecto veritatis dolores, enim consequatur nihil ipsum.
		</div>
	</div>
</div>
 -->
