<div class="max-w-md p-6" [ngClass]="['bg' + contrast, 'text' + defaultInv]">
	<img
		class="object-cover w-full h-64 pb-6 rounded-sm sm:h-96 bg-coolGray-500"
		src="https://source.unsplash.com/200x200/?portrait"
		alt=""
	/>
	<div class="">
		<h2 class="text-xl font-semibold">Leroy Jenkins</h2>
		<span class="block pb-2 text-sm" [ngClass]="['text' + plainInv]">CTO of Company Inc.</span>
		<p class="">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi dolorum
			sequi illum qui unde aspernatur non deserunt
		</p>
	</div>
</div>
