<footer class="bg-default text-default-inverse">
	<div
		class="container flex flex-col px-6 divide-y divide-gray-700 divide-opacity-25 xl:flex-row xl:divide-none"
	>
		<ul
			class="self-center py-6 space-y-4 text-lg font-semibold text-center md:flex md:space-y-0 md:justify-around md:space-x-4 xl:flex-1 xl:justify-start"
		>
			<li class="">Shop</li>
			<li class="">About</li>
			<li class="">Blog</li>
			<li class="">Pricing</li>
			<li class="">Contact</li>
		</ul>
		<div class="flex flex-col justify-center py-6">
			<div class="flex justify-center space-x-4">
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark bg-primary"
					href="#"
				>
					<i class="cib-instagram"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark bg-primary"
					href="#"
				>
					<i class="cib-pinterest"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark bg-primary"
					href="#"
				>
					<i class="cib-twitter"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark bg-primary"
					href="#"
				>
					<i class="cib-facebook"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark bg-primary"
					href="#"
				>
					<i class="cib-google"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
