<section>
	<div class="container flex items-center justify-center text-center">
		<div class="flex flex-col w-full max-w-md p-12 space-y-4">
			<h1 class="text-3xl font-semibold">Sign in to your account</h1>
			<a [routerLink]="['/']">Or start your free trial</a>
			<form class="space-y-4">
				<div class="flex flex-col">
					<label for="email" class="sr-only">Email address</label>
					<input
						class="rounded-t-md"
						[ngClass]="[
							'focus:ring' + primary,
							'focus:border' + primary,
							'focus:ring-2'
						]"
						id="email"
						type="email"
						placeholder="Email address"
					/>
					<label for="password" class="sr-only">Password</label>
					<input
						class="rounded-b-md"
						[ngClass]="[
							'focus:ring' + primary,
							'focus:border' + primary,
							'focus:ring-2'
						]"
						id="password"
						type="text"
						placeholder="Password"
					/>
				</div>
				<div class="flex justify-between">
					<div class="flex items-center">
						<input
							type="checkbox"
							name="remember"
							id="remember"
							class="mr-1 rounded-sm"
							[ngClass]="[
								'focus:ring' + primary,
								'focus:border' + primary,
								'focus:ring-2'
							]"
						/>
						<label for="remember">Remember me</label>
					</div>
					<a [routerLink]="['/']">Forgot your password?</a>
				</div>
				<button
					type="button"
					class="space-x-2 font-semibold"
					[ngClass]="['bg' + primary, 'text' + dark, btn]"
				>
					Sign in
				</button>
			</form>
		</div>
	</div>
</section>
