<section class="" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<form action="" class="container max-w-lg p-8" [ngClass]="['bg' + contrast]">
		<h3 class="text-2xl font-semibold text-gray-900">Let's get in touch!</h3>
		<p class="text-gray-600">Vero eius at minus modestias quo.</p>
		<div class="flex mt-3 space-x-5">
			<label for="name" class="sr-only">Your name</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Your name"
				class="w-1/2 p-2 border"
			/>
			<label for="number" class="sr-only">Your phonenumber</label>
			<input
				type="number"
				name="number"
				id="number"
				placeholder="Your number"
				class="w-1/2 p-2 border"
			/>
		</div>
		<label for="email" class="sr-only">Your email</label>
		<input
			type="email"
			name="email"
			id="email"
			placeholder="Your email"
			class="w-full p-2 mt-3 border"
		/>
		<label for="message" class="sr-only">Your message</label>
		<textarea
			name="message"
			id="message"
			cols="10"
			rows="3"
			placeholder="Your message"
			class="w-full p-2 mt-3 border"
		></textarea>
		<p class="mt-3 text-sm font-bold">GDPR Agreement *</p>
		<div class="flex items-baseline mt-2 space-x-2">
			<input type="checkbox" name="" id="" class="inline-block" aria-label="I consent" />
			<p class="text-sm text-gray-600">
				I consent to having this website store my submitted information so they can respond
				to my inquiry.
			</p>
		</div>
		<input
			type="submit"
			value="Submit"
			class="w-full p-3 mt-6 font-semibold text-white bg-blue-600 hover:bg-blue-500"
		/>
	</form>
</section>
