<div class="flex flex-col items-center justify-center">
	<div class="flex -space-x-4">
		<img
			class="w-12 h-12 border rounded-full"
			[ngClass]="['border' + neutral]"
			src="https://images.generated.photos/syc9o2f_obuIoFJBYnGFwnKNNz9LrnKDZcIfhnclJXM/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA0OTMwMzBfMDA2/MzYzNl8wMTU5Nzkx/LmpwZw.jpg"
			alt=""
		/>
		<img
			class="w-12 h-12 border rounded-full"
			[ngClass]="['border' + neutral]"
			src="https://images.generated.photos/ADbBAzeK5oWF2oDJWfZ2-Wq3TBjqex-dxZVQGD5LPJY/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAxMzk2ODBfMDUz/NjY1Nl8wNzAxMDQ2/LmpwZw.jpg"
			alt=""
		/>
		<img
			class="w-12 h-12 border rounded-full"
			[ngClass]="['border' + neutral]"
			src="https://images.generated.photos/XML68W6_tNAx4BhHYZSLpszf-vb6NDpjShMIzYaA3iU/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA0NzY1MjkuanBn.jpg"
			alt=""
		/>
		<img
			class="w-12 h-12 border rounded-full"
			[ngClass]="['border' + neutral]"
			src="https://images.generated.photos/Z5HfwR5L8Fez5uCqEcj3SbogJgJhBdfxJs73ZRGjWgE/rs:fit:512:512/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAwNzc4NzAuanBn.jpg"
			alt=""
		/>
		<span
			class="flex items-center justify-center w-12 h-12 font-semibold border rounded-full"
			[ngClass]="['bg' + contrast, 'text' + defaultInv, 'border' + neutral]"
			>+3</span
		>
	</div>
</div>
