<div class="flex flex-col items-center justify-center">
	<div class="flex -space-x-4">
		<img
			*ngFor="let i of [1, 2, 3, 4]"
			class="w-12 h-12 border rounded-full bg-coolGray-500"
			[ngClass]="['border' + neutral]"
			src="https://source.unsplash.com/40x40/?portrait?{{ i }}"
			alt=""
		/>

		<span
			class="flex items-center justify-center w-12 h-12 font-semibold border rounded-full"
			[ngClass]="['bg' + contrast, 'text' + defaultInv, 'border' + neutral]"
		>
			+3
		</span>
	</div>
</div>
