<section class="">
	<div
		class="container flex flex-col items-center px-12 pt-16 pb-56 text-center bg-primary text-dark"
	>
		<h1 class="text-5xl font-bold leading-none xl:max-w-3xl">
			Provident blanditiis cum exercitationem
		</h1>
		<p class="mt-6 mb-12 text-lg xl:max-w-3xl">
			Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque
			explicabo!
		</p>
		<div class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:space-x-8">
			<button class="font-semibold bg-default text-contrast-inverse btn">Get started</button>
			<button class="font-normal btn">Learn more</button>
		</div>
	</div>
	<img
		src="https://source.unsplash.com/random/480x320"
		alt=""
		class="w-5/6 mx-auto mb-12 -mt-40 rounded-lg shadow-md"
	/>
</section>
