<section class="">
	<div class="container p-4">
		<h1 class="text-2xl font-bold">Title</h1>
		<ul class="items-stretch hidden space-x-3 border-b-2 border-gray-300 md:flex">
			<li class="flex">
				<a
					[routerLink]="['#']"
					[routerLinkActive]="[textPrimary, borderPrimary]"
					class="flex items-center -mb-0.5 border-b-2 px-5 py-3 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['']"
					[routerLinkActive]="[textPrimary, borderPrimary]"
					class="flex items-center -mb-0.5 border-b-2 px-5 py-3 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['#']"
					[routerLinkActive]="[textPrimary, borderPrimary]"
					class="flex items-center -mb-0.5 border-b-2 px-5 py-3 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['#']"
					[routerLinkActive]="[textPrimary, borderPrimary]"
					class="flex items-center -mb-0.5 border-b-2 px-5 py-3 border-transparent"
					>Link</a
				>
			</li>
		</ul>
	</div>
</section>
