<header class="body-font">
	<div
		class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
	>
		<a
			class="flex title-font font-medium items-center mb-4 md:mb-0"
			[routerLink]="['/']"
		>
			LOGO
		</a>
		<nav
			class="md:ml-auto flex flex-wrap items-center text-base justify-center"
		>
			<a
				[routerLink]="['/link']"
				[routerLinkActive]="['text-primary', 'font-semibold']"
				class="mr-5 text-default"
				>Link</a
			>
			<a
				[routerLink]="['/link']"
				[routerLinkActive]="['text-primary', 'font-semibold']"
				class="mr-5 text-default"
				>Link</a
			>
		</nav>
	</div>
</header>
