<section [ngClass]="['bg' + default, 'text' + defaultInv]">
	<div class="container px-6 py-12 mx-auto">
		<div class="grid items-center gap-4 xl:grid-cols-5">
			<div class="max-w-2xl mx-auto my-8 space-y-4 text-center xl:col-span-2 xl:text-left">
				<h2 class="text-4xl font-bold">Duo assum utroque appetere an</h2>
				<p [ngClass]="['text' + plainInv]">
					Pri ex magna scaevola moderatius. Nullam accommodare no vix, est ei diceret
					alienum, et sit cetero malorum. Et sea iudico consequat, est sanctus adipisci
					ex.
				</p>
			</div>
			<div class="p-6 xl:col-span-3">
				<div class="grid gap-4 md:grid-cols-2">
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md" [ngClass]="['bg' + contrast]">
							<p>
								An audire commodo habemus cum. Ne sed corrumpit repudiandae. Tota
								aliquip democritum pro in, nec democritum intellegam ne. Propriae
								volutpat dissentiet ea sit, nec at lorem inani tritani, an ius
								populo perfecto vituperatoribus. Eu cum case modus salutandi, ut eum
								vocent sensibus reprehendunt.
							</p>
							<div class="flex items-center mt-4 space-x-4">
								<img
									class="w-12 h-12 bg-center bg-cover rounded-full"
									src="https://source.unsplash.com/51x51/?portrait"
									alt=""
								/>
								<div class="">
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm" [ngClass]="['text' + plainInv]">
										CTO of Company Co.
									</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md" [ngClass]="['bg' + contrast]">
							<p>
								Sit wisi sapientem ut, pri civibus temporibus voluptatibus et, ius
								cu hinc fabulas. Nam meliore minimum et, regione convenire cum id.
								Ex pro eros mucius consectetuer, pro magna nulla nonumy ne, eam
								putent iudicabit consulatu cu.
							</p>
							<div class="flex items-center mt-4 space-x-4">
								<img
									class="w-12 h-12 bg-center bg-cover rounded-full"
									src="https://source.unsplash.com/52x52/?portrait"
									alt=""
								/>
								<div class="">
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm" [ngClass]="['text' + plainInv]">
										CTO of Company Co.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="grid content-center gap-4">
						<div class="p-6 rounded shadow-md" [ngClass]="['bg' + contrast]">
							<p>
								Putant omnium elaboraret per ut. Id dicta tritani nominavi quo, mea
								id justo errem elaboraret. Agam mollis scripserit ea his, ut nec
								postea verear persecuti. Ea noster senserit eam, ferri omittantur ei
								nec. Id mel solet libris efficiantur, commune explicari et eos. Case
								movet ad est, sed tota vocent appetere ea.
							</p>
							<div class="flex items-center mt-4 space-x-4">
								<img
									class="w-12 h-12 bg-center bg-cover rounded-full"
									src="https://source.unsplash.com/53x53/?portrait"
									alt=""
								/>
								<div class="">
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm" [ngClass]="['text' + plainInv]">
										CTO of Company Co.
									</p>
								</div>
							</div>
						</div>
						<div class="p-6 rounded shadow-md" [ngClass]="['bg' + contrast]">
							<p>
								Te omnes virtute volutpat sed. Ei esse eros interesset vel, ei
								populo denique ocurreret vix, eu cum pertinax mandamus
								vituperatoribus. Solum nihil luptatum per ex, ei amet viderer eos.
								Ea illum labitur mnesarchum pro. Eius meis salutandi ei nam, alterum
								expetenda et nec. Expetenda intellegat at eum, per mazim sanctus
								honestatis ad. Ei noluisse invenire vix. Te ancillae patrioque qui,
								probo bonorum vivendum ex vim.
							</p>
							<div class="flex items-center mt-4 space-x-4">
								<img
									class="w-12 h-12 bg-center bg-cover rounded-full"
									src="https://source.unsplash.com/54x54/?portrait"
									alt=""
								/>
								<div class="">
									<p class="text-lg font-semibold">Leroy Jenkins</p>
									<p class="text-sm" [ngClass]="['text' + plainInv]">
										CTO of Company Co.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
