<div class="p-5 mx-auto sm:p-10 md:p-16" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<div class="flex flex-col max-w-3xl mx-auto overflow-hidden rounded">
		<img class="w-full h-60 sm:h-96" src="https://source.unsplash.com/random/480x360" alt="" />
		<div
			class="max-w-xl px-4 pt-5 pb-16 m-4 -mt-16 space-y-6 sm:px-10 sm:mx-10 sm:rounded-md"
			[ngClass]="['bg' + contrast]"
		>
			<div class="space-y-2">
				<a href="#" class="inline-block text-2xl font-semibold sm:text-3xl">
					The Best Activewear from the Nordstrom Anniversary Sale
				</a>
				<p class="text-xs" [ngClass]="['text' + plainInv]">
					By
					<a href="#" class="text-xs hover:underline">Leroy Jenkins</a>
				</p>
			</div>
			<div [ngClass]="['text' + defaultInv]">
				<p>Insert the actual text content here...</p>
			</div>
		</div>
	</div>
</div>
