<section class="py-6 bg-default text-contrast-inverse">
	<div class="container flex flex-col items-center justify-center p-4 sm:p-10 lg:flex-row">
		<div class="flex flex-col items-center justify-center flex-1 p-4 pb-8 sm:p-8 lg:p-16">
			<pre class="text-sm">Basic</pre>
			<p class="text-5xl font-bold text-center">39€</p>
			<p class="font-semibold text-center">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button
				class="mt-6 font-semibold border sm:mt-12 border-neutral text-contrast-inverse btn"
			>
				Contact
			</button>
		</div>
		<div
			class="flex flex-col items-center justify-center flex-1 p-4 pb-8 text-center rounded-md sm:p-8 lg:p-16 text-dark"
			[ngClass]="['bg-' + primary]"
		>
			<pre class="text-sm font-semibold">Advanced</pre>
			<p class="text-5xl font-bold">89€</p>
			<p class="font-semibold">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button class="mt-6 font-semibold sm:mt-12 bg-default text-contrast-inverse btn">
				Contact
			</button>
		</div>
	</div>
</section>
