<section class="bg-default text-default-inverse py-6">
	<div
		class="container p-10 flex flex-col justify-center items-center space-y-8 md:px-24 xl:px-48"
	>
		<h1 class="text-5xl leading-none font-bold text-center">Sign up now</h1>
		<p class="text-xl text-center font-medium">
			At a assumenda quas cum earum ut itaque commodi saepe rem aspernatur quam natus quis
			nihil quod, hic explicabo doloribus magnam neque, exercitationem eius sunt!
		</p>

		<div class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:space-x-8">
			<button class="text-default-inverse font-semibold bg-primary btn">Get started</button>

			<button class="bg-default text-default-inverse font-normal border border-primary btn">
				Learn more
			</button>
		</div>
	</div>
</section>
