<footer class="py-6 bg-default text-default-inverse">
	<div class="container px-6 space-y-6 divide-y divide-gray-400 md:space-y-12 divide-opacity-50">
		<div class="grid grid-cols-12">
			<div class="pb-6 col-span-full md:pb-0 md:col-span-6">
				<a class="flex justify-center space-x-3 md:justify-start" href="#">
					<i
						class="flex items-center justify-center w-12 h-12 text-xl font-bold rounded-full text-dark cib-x-pack"
						[ngClass]="['bg-' + primary]"
					></i>
					<span class="self-center text-2xl font-semibold">Brand name</span>
				</a>
			</div>
			<div class="col-span-6 text-center md:text-left md:col-span-3">
				<p class="pb-1 text-lg font-medium">Category</p>
				<ul>
					<li *ngFor="let i of [1, 2, 3, 4, 5]">
						<a href="#" class="" [ngClass]="['hover:text-' + primary]">Link</a>
					</li>
				</ul>
			</div>
			<div class="col-span-6 text-center md:text-left md:col-span-3">
				<p class="pb-1 text-lg font-medium">Category</p>
				<ul>
					<li *ngFor="let i of [1, 2, 3, 4, 5]">
						<a href="#" class="" [ngClass]="['hover:text-' + primary]">Link</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="grid justify-center pt-6 lg:justify-between">
			<div
				class="flex flex-col self-center text-sm text-center md:block lg:col-start-1 md:space-x-6"
			>
				<span>©2020 All rights reserved</span>
				<a class="" href="#">
					<span>Privacy policy</span>
				</a>
				<a class="" href="#">
					<span>Terms of service</span>
				</a>
			</div>
			<div class="flex justify-center pt-4 space-x-4 lg:pt-0 lg:col-end-13">
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark"
					[ngClass]="['bg-' + primary]"
					href="#"
				>
					<i class="cib-instagram"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark"
					[ngClass]="['bg-' + primary]"
					href="#"
				>
					<i class="cib-pinterest"></i>
				</a>
				<a
					class="flex items-center justify-center w-10 h-10 rounded-full text-dark"
					[ngClass]="['bg-' + primary]"
					href="#"
				>
					<i class="cib-twitter"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
