$font-path: '/assets/fonts/Lato' !default;

// @font-face {
// 	font-family: 'Lato';
// 	font-style: normal;
// 	font-weight: 100;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-Thin.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 100;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-ThinItalic.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: normal;
// 	font-weight: 200;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-ExtraLight.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 200;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-ExtraLightItalic.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: normal;
// 	font-weight: 300;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-Light.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 300;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-LightItalic.woff2') format('woff2');
// }

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('#{$font-path}/Lato-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('#{$font-path}/Lato-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('#{$font-path}/Lato-Medium.woff2') format('woff2');
}

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 500;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-MediumItalic.woff2') format('woff2');
// }

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('#{$font-path}/Lato-SemiBold.woff2') format('woff2');
}

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 600;
//  font-display: swap;
//  src: url('#{$font-path}/Lato-SemiBoldItalic.woff2') format('woff2');
// }

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('#{$font-path}/Lato-Bold.woff2') format('woff2');
}

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 700;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-BoldItalic.woff2') format('woff2');
// }

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('#{$font-path}/Lato-ExtraBold.woff2') format('woff2');
}

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 800;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-ExtraBoldItalic.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: normal;
// 	font-weight: 900;
// font-display: swap;
// src: url('#{$font-path}/Lato-Black.woff2') format('woff2');
// }

// @font-face {
// 	font-family: 'Lato';
// 	font-style: italic;
// 	font-weight: 900;
// font-display: swap;
// 	src: url('#{$font-path}/Lato-BlackItalic.woff2') format('woff2');
// }
