<section class="py-6" [ngClass]="['bg' + default, 'text' + contrastInv]">
	<div class="container p-4 sm:p-10">
		<div class="mb-12 space-y-4 text-center">
			<h1 class="text-4xl font-semibold leading-tight">Pricing</h1>
			<p class="px-4 sm:px-8 lg:px-24">
				Sunt suscipit eaque qui iure unde labore numquam iusto alias explicabo, pariatur
				ipsam, cupiditate aliquid modi?
			</p>
			<div>
				<button
					class="px-4 py-1 font-semibold border rounded-l-lg"
					[ngClass]="['bg' + primary, 'border' + primary, 'text' + dark]"
				>
					Monthly
				</button>
				<button class="px-4 py-1 border rounded-r-lg" [ngClass]="['border' + primary]">
					Annually
				</button>
			</div>
		</div>
		<div class="grid grid-cols-1 gap-6 auto-rows-fr lg:grid-cols-3">
			<div class="flex flex-col items-center p-8 border rounded-md">
				<p class="self-start">Personal</p>
				<p class="self-start text-4xl font-bold">FREE</p>
				<ul class="self-stretch flex-1 space-y-2">
					<li class="flex items-center space-x-2" *ngFor="let i of [1, 2, 3, 4, 5]">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="w-6 h-6"
							[ngClass]="['text' + primary]"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
							/>
						</svg>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button
					class="px-8 py-3 mt-6 text-lg font-semibold border rounded sm:mt-12"
					[ngClass]="['border' + neutral, 'text' + contrastInv]"
				>
					Contact
				</button>
			</div>
			<div
				class="flex flex-col items-center p-8 border-2 rounded-md"
				[ngClass]="['border' + primary]"
			>
				<p class="self-start">Personal</p>
				<p class="self-start text-4xl font-bold">9€ <span class="text-xl">/mo</span></p>
				<ul class="self-stretch flex-1">
					<li class="flex items-center space-x-2" *ngFor="let i of [1, 2, 3, 4, 5]">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="w-6 h-6"
							[ngClass]="['text' + primary]"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
							/>
						</svg>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button
					class="px-8 py-3 mt-6 text-lg font-semibold rounded sm:mt-12"
					[ngClass]="['bg' + primary, 'text' + contrast]"
				>
					Contact
				</button>
			</div>
			<div class="flex flex-col items-center p-8 border rounded-md">
				<p class="self-start">Business</p>
				<p class="self-start text-4xl font-bold">17€ <span class="text-xl">/mo</span></p>
				<ul class="self-stretch flex-1">
					<li class="flex items-center space-x-2" *ngFor="let i of [1, 2, 3, 4, 5]">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="w-6 h-6"
							[ngClass]="['text' + primary]"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
							/>
						</svg>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button
					class="px-8 py-3 mt-6 text-lg font-semibold border rounded sm:mt-12"
					[ngClass]="['border' + neutral, 'text' + contrastInv]"
				>
					Contact
				</button>
			</div>
		</div>
	</div>
</section>
