<custom-showcase [title]="'Input components'">
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-input1></custom-input1>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-input2></custom-input2>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-input3></custom-input3>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-input4></custom-input4>
	</custom-show-code>
</custom-showcase>
