<section class="my-8">
	<div class="container flex flex-col items-center p-4 mb-12 md:p-10 md:px-12">
		<h1 class="text-4xl font-semibold leading-none text-center">
			What our customers are saying about us
		</h1>
	</div>
	<div
		class="container flex flex-col items-center justify-center lg:flex-row lg:flex-wrap lg:justify-evenly lg:px-10"
	>
		<div class="flex flex-col max-w-sm mx-4 my-6 shadow-lg">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12" [ngClass]="['bg' + contrast]">
				<p class="px-6 py-1 text-lg italic text-center" [ngClass]="['text' + defaultInv]">
					<i class="cil-double-quote-sans-left" [ngClass]="['text' + primary]"></i>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
					quibusdam, eligendi exercitationem molestias possimus facere.
					<i class="cil-double-quote-sans-right" [ngClass]="['text' + primary]"></i>
				</p>
			</div>
			<div
				class="flex flex-col items-center justify-center p-8 rounded-b-lg"
				[ngClass]="['bg' + primary, 'text' + contrast]"
			>
				<img
					class="w-16 h-16 mb-2 -mt-16 bg-center bg-cover rounded-full"
					[ngClass]="['bg' + neutral]"
					src="https://source.unsplash.com/50x50/?portrait"
					alt=""
				/>
				<p class="text-xl font-semibold leading-tight">Distinctio Animi</p>
				<p class="text-sm uppercase">Aliquam illum</p>
			</div>
		</div>
		<div class="flex flex-col max-w-sm mx-4 my-6 shadow-lg">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12" [ngClass]="['bg' + contrast]">
				<p class="px-6 py-1 text-lg italic text-center" [ngClass]="['text' + defaultInv]">
					<i class="cil-double-quote-sans-left" [ngClass]="['text' + primary]"></i>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
					quibusdam, eligendi exercitationem molestias possimus facere.
					<i class="cil-double-quote-sans-right" [ngClass]="['text' + primary]"></i>
				</p>
			</div>
			<div
				class="flex flex-col items-center justify-center p-8 rounded-b-lg"
				[ngClass]="['bg' + primary, 'text' + contrast]"
			>
				<img
					class="w-16 h-16 mb-2 -mt-16 bg-center bg-cover rounded-full"
					[ngClass]="['bg' + neutral]"
					src="https://source.unsplash.com/51x51/?portrait"
					alt=""
				/>
				<p class="text-xl font-semibold leading-tight">Distinctio Animi</p>
				<p class="text-sm uppercase">Aliquam illum</p>
			</div>
		</div>
		<div class="flex flex-col max-w-sm mx-4 my-6 shadow-lg">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12" [ngClass]="['bg' + contrast]">
				<p class="px-6 py-1 text-lg italic text-center" [ngClass]="['text' + defaultInv]">
					<i class="cil-double-quote-sans-left" [ngClass]="['text' + primary]"></i>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
					quibusdam, eligendi exercitationem molestias possimus facere.
					<i class="cil-double-quote-sans-right" [ngClass]="['text' + primary]"></i>
				</p>
			</div>
			<div
				class="flex flex-col items-center justify-center p-8 rounded-b-lg"
				[ngClass]="['bg' + primary, 'text' + contrast]"
			>
				<img
					class="w-16 h-16 mb-2 -mt-16 bg-center bg-cover rounded-full"
					[ngClass]="['bg' + neutral]"
					src="https://source.unsplash.com/52x52/?portrait"
					alt=""
				/>
				<p class="text-xl font-semibold leading-tight">Distinctio Animi</p>
				<p class="text-sm uppercase">Aliquam illum</p>
			</div>
		</div>
		<div class="flex flex-col max-w-sm mx-4 my-6 shadow-lg">
			<div class="px-4 py-12 rounded-t-lg sm:px-8 md:px-12" [ngClass]="['bg' + contrast]">
				<p class="px-6 py-1 text-lg italic text-center" [ngClass]="['text' + defaultInv]">
					<i class="cil-double-quote-sans-left" [ngClass]="['text' + primary]"></i>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
					quibusdam, eligendi exercitationem molestias possimus facere.
					<i class="cil-double-quote-sans-right" [ngClass]="['text' + primary]"></i>
				</p>
			</div>
			<div
				class="flex flex-col items-center justify-center p-8 rounded-b-lg"
				[ngClass]="['bg' + primary, 'text' + contrast]"
			>
				<img
					class="w-16 h-16 mb-2 -mt-16 bg-center bg-cover rounded-full"
					[ngClass]="['bg' + neutral]"
					src="https://source.unsplash.com/53x53/?portrait"
					alt=""
				/>
				<p class="text-xl font-semibold leading-tight">Distinctio Animi</p>
				<p class="text-sm uppercase">Aliquam illum</p>
			</div>
		</div>
	</div>
</section>
