<div class="container p-4" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<header class="flex justify-between h-16 border-b-2" [ngClass]="['border' + neutral]">
		<button class="flex p-4">
			<i class="self-center text-2xl cib-coreui-c" [ngClass]="['text' + primary]"></i>
		</button>
		<ul class="items-stretch hidden space-x-3 lg:flex">
			<li class="flex">
				<a
					[routerLink]="['#1']"
					[routerLinkActive]="['text' + primary, 'border' + primary]"
					class="flex items-center -mb-0.5 border-b-2 px-4 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['']"
					[routerLinkActive]="['text' + primary, 'border' + primary]"
					class="flex items-center -mb-0.5 border-b-2 px-4 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['#3']"
					[routerLinkActive]="['text' + primary, 'border' + primary]"
					class="flex items-center -mb-0.5 border-b-2 px-4 border-transparent"
					>Link</a
				>
			</li>
			<li class="flex">
				<a
					[routerLink]="['#4']"
					[routerLinkActive]="['text' + primary, 'border' + primary]"
					class="flex items-center -mb-0.5 border-b-2 px-4 border-transparent"
					>Link</a
				>
			</li>
		</ul>
		<div class="flex-shrink-0 hidden lg:block">
			<button class="self-center btn">Sign in</button>
			<button
				class="self-center font-semibold btn"
				[ngClass]="['bg' + primary, 'text' + contrast]"
			>
				Sign up
			</button>
		</div>
		<button class="flex justify-end p-4 lg:hidden">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"
				/>
			</svg>
		</button>
	</header>
</div>
