.text-default {
	@apply text-gray-900;

	.dark-theme & {
		@apply text-gray-200;
	}
}

.text-default-inverse {
	@apply text-gray-200;

	.dark-theme & {
		@apply text-gray-900;
	}
}

/* .text-primary {
	@apply text-blue-700;

	.dark-theme & {
		@apply text-orange-500;
	}
} */

.bg-default {
	@apply bg-gray-100;

	.dark-theme & {
		@apply bg-gray-900;
	}
}

.bg-default-inverse {
	@apply bg-gray-900;

	.dark-theme & {
		@apply bg-gray-100;
	}
}

/* .bg-primary {
	@apply bg-blue-700;

	.dark-theme & {
		@apply bg-orange-500;
	}
} */

.fill-default {
	@apply text-gray-200;
	@apply fill-current;

	.dark-theme & {
		@apply bg-gray-900;
	}
}

.fill-primary {
	@apply text-blue-700;
	@apply fill-current;

	.dark-theme & {
		@apply text-orange-500;
	}
}

.btn {
	@apply py-3 px-8 rounded text-lg;

	&:hover {
		filter: brightness(1.1);
	}
}
