<section class="py-6 bg-default text-default-inverse">
	<div class="container flex flex-col justify-around p-10 text-center lg:flex-row">
		<div class="flex flex-col justify-center lg:text-left">
			<p class="mb-1 text-sm font-medium tracking-widest uppercase text-primary">
				Hic eligendi necessitatibus quod quia
			</p>
			<h1 class="py-2 text-3xl font-medium leading-tight title-font">
				Master Cleanse Reliac Heirloom
			</h1>
		</div>
		<div
			class="flex flex-col items-center justify-center flex-shrink-0 mt-6 space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-0 lg:justify-end"
		>
			<button class="inline-flex items-center px-6 py-3 rounded-lg text-dark bg-primary">
				<i class="text-xl cib-google-play"></i>
				<span class="flex flex-col items-start ml-4 leading-none"
					><span class="mb-1 text-xs">GET IT ON</span
					><span class="font-semibold title-font">Google Play</span></span
				></button
			><button class="inline-flex items-center px-5 py-3 rounded-lg text-dark bg-primary">
				<i class="text-xl cib-apple"></i>
				<span class="flex flex-col items-start ml-4 leading-none"
					><span class="mb-1 text-xs">Download on the</span
					><span class="font-semibold title-font">App Store</span></span
				>
			</button>
		</div>
	</div>
</section>
