<section class="bg-default text-default-inverse py-6">
	<div class="container p-6 flex flex-col text-center justify-around lg:flex-row">
		<div class="flex flex-col justify-center lg:text-left">
			<p class="text-sm tracking-widest font-medium uppercase mb-1" [ngClass]="primaryText">
				Hic eligendi necessitatibus quod quia
			</p>
			<h1 class="text-3xl leading-tight font-medium title-font py-2">
				Master Cleanse Reliac Heirloom
			</h1>
		</div>
		<div
			class="flex flex-col space-y-4 justify-center items-center flex-shrink-0 mt-6 sm:flex-row sm:space-y-0 sm:space-x-4 lg:ml-4 lg:mt-0 lg:justify-end"
		>
			<button
				class="text-default-inverse inline-flex py-3 px-6 rounded-lg items-center"
				[ngClass]="primaryBackground"
			>
				<i class="cib-google-play text-xl"></i>
				<span class="ml-4 flex items-start flex-col leading-none"
					><span class="text-xs mb-1">GET IT ON</span
					><span class="title-font font-semibold">Google Play</span></span
				></button
			><button
				class="text-default-inverse inline-flex py-3 px-5 rounded-lg items-center"
				[ngClass]="primaryBackground"
			>
				<i class="cib-apple text-xl"></i>
				<span class="ml-4 flex items-start flex-col leading-none"
					><span class="text-xs mb-1">Download on the</span
					><span class="title-font font-semibold">App Store</span></span
				>
			</button>
		</div>
	</div>
</section>
