<section class="">
	<div [ngClass]="[bgPrimary]">
		<div
			class="container flex flex-col items-center px-4 py-16 pb-24 text-center lg:pb-56 md:py-32 md:px-10 lg:px-32 text-dark"
		>
			<h1 class="text-5xl font-bold leading-none sm:text-6xl xl:max-w-3xl">
				Provident blanditiis cum exercitationem
			</h1>
			<p class="mt-6 mb-8 text-lg sm:mb-12 xl:max-w-3xl">
				Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero
				eaque explicabo!
			</p>
			<div class="flex flex-wrap justify-center">
				<button class="m-2 font-semibold bg-default text-contrast-inverse btn">
					Get started
				</button>
				<button class="m-2 border text-contrast border-neutral btn">Learn more</button>
			</div>
		</div>
	</div>
	<img
		src="https://source.unsplash.com/random/480x320"
		alt=""
		class="w-5/6 mx-auto mb-12 -mt-20 rounded-lg shadow-md lg:-mt-40"
	/>
</section>
