<custom-showcase [title]="'Testimonial components'">
	<custom-show-code>
		<custom-testimonial3></custom-testimonial3>
	</custom-show-code>
	<custom-show-code>
		<custom-testimonial1></custom-testimonial1>
	</custom-show-code>
	<custom-show-code>
		<custom-testimonial5></custom-testimonial5>
	</custom-show-code>
	<custom-show-code>
		<custom-testimonial2></custom-testimonial2>
	</custom-show-code>
	<custom-show-code>
		<custom-testimonial4></custom-testimonial4>
	</custom-show-code>
</custom-showcase>
