<footer class="bg-default-inverse">
	<div
		class="container flex flex-col-reverse items-center justify-center px-6 py-10 lg:flex-row lg:justify-between"
	>
		<p class="my-6 text-center text-default lg:text-left">
			© {{ currentYear }}
			<a
				href="https://www.twitter.com/nnowwakk"
				class="hover:underline"
				[ngClass]="textPrimary"
				>@nnowwakk</a
			>
		</p>
		<div
			class="flex flex-col-reverse items-center justify-center space-y-3 space-y-reverse lg:flex-row lg:space-y-0 lg:space-x-3"
		>
			<custom-color-selector></custom-color-selector>
			<custom-theme-selector></custom-theme-selector>
		</div>
	</div>
</footer>
