<div class="max-w-xl p-8 mx-auto">
	<ul class="space-y-12">
		<li class="flex items-start space-x-3">
			<a href="#" class="flex items-center h-8 text-sm hover:underline">v3.2.0</a>
			<div class="flex-1 space-y-2">
				<div
					class="flex items-center justify-between space-x-4"
					[ngClass]="['text' + plainInv]"
				>
					<a
						href="#"
						class="my-0.5 group inline-flex items-center rounded-full border px-3 py-0.5 text-sm space-x-2"
						[ngClass]="['border' + neutral]"
					>
						<span
							class="h-1.5 w-1.5 rounded-full"
							[ngClass]="['bg' + primary]"
							aria-hidden="true"
						></span>
						<span class="group-hover:underline">Feature</span>
					</a>
					<span class="text-xs whitespace-nowrap">10h ago</span>
				</div>
				<div [ngClass]="['text' + plainInv]">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt nunc
						ipsum tempor purus vitae id. Morbi in vestibulum nec varius. Et diam cursus
						quis sed purus nam. Scelerisque amet elit non sit ut tincidunt condimentum.
						Nisl ultrices eu venenatis diam.
					</p>
				</div>
			</div>
		</li>
		<li class="flex items-start space-x-3">
			<a href="#" class="flex items-center h-8 text-sm hover:underline">v3.1.9</a>
			<div class="flex-1 space-y-2">
				<div
					class="flex items-center justify-between space-x-4"
					[ngClass]="['text' + plainInv]"
				>
					<a
						href="#"
						class="my-0.5 group relative inline-flex items-center rounded-full border px-3 py-0.5 text-sm space-x-2"
						[ngClass]="['border' + neutral]"
					>
						<span class="group-hover:underline">Bugfix</span>
					</a>
					<span class="text-xs whitespace-nowrap">2 weeks ago</span>
				</div>
				<div class="space-y-2" [ngClass]="['text' + plainInv]">
					<p>
						Scelerisque amet elit non sit ut tincidunt condimentum. Nisi ultrices eu
						venenatis diam.
					</p>
					<p>
						Illum quaerat ab inventore, eveniet repudiandae saepe, iste sed molestias
						laborum atque, quos reprehenderit fugit cumo!
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>
