<section class="my-8">
	<div class="container flex flex-col items-center p-4 space-y-6 md:p-8">
		<i class="text-5xl cil-badge" [ngClass]="['text' + primary]"></i>
		<p
			class="px-6 py-2 text-2xl font-semibold text-center sm:font-bold sm:text-3xl md:text-4xl lg:max-w-2xl xl:max-w-4xl"
			[ngClass]="['text' + neutralInv]"
		>
			"Veniam quidem animi ea maxime odit fugiat architecto perferendis ipsum perspiciatis
			iusto, provident qui nam dolorum corporis."
		</p>
		<div class="flex justify-center space-x-3">
			<img
				class="w-20 h-20 bg-center bg-cover rounded-md"
				[ngClass]="['bg' + neutral]"
				src="https://source.unsplash.com/80x80/?portrait"
				alt=""
			/>
			<div>
				<p class="leading-tight">Leroy Jenkins</p>
				<p class="text-sm leading-tight" [ngClass]="['text' + neutralInv]">
					Founder, Company
				</p>
				<a
					[routerLink]="['/']"
					class="flex items-center py-2 space-x-1 text-sm"
					[ngClass]="['text' + primary]"
				>
					<span> Read full story </span>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 20 20"
						fill="currentColor"
						class="w-4 h-4"
					>
						<path
							fill-rule="evenodd"
							d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
							clip-rule="evenodd"
						/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
