<div class="container flex-1 my-6" [ngClass]="['text' + defaultInv]">
	<h1 class="text-4xl font-bold text-center">Components</h1>
	<div class="flex flex-wrap p-4 place-content-center">
		<a
			*ngFor="let category of categories"
			[routerLink]="['/components/' + category.name]"
			[routerLinkActive]="['ring', 'ring-opacity-20', 'ring' + primary]"
			class="relative px-3 py-1 m-1 rounded-md shadow-sm group md:px-4 md:py-2 hover:ring hover:ring-opacity-50"
			[ngClass]="['hover:ring' + primary, 'bg' + default]"
		>
			<span
				class="absolute top-0 right-0 p-1 text-xs opacity-0 group-hover:opacity-100"
				[ngClass]="['text' + plainInv]"
				>{{ category.count }}
			</span>
			<span class="text-sm capitalize">{{ category.name }}</span>
		</a>
	</div>
	<router-outlet></router-outlet>
</div>
