<div class="container md:my-6" [ngClass]="['text-' + defaultInv]">
	<h1 class="text-4xl font-bold text-center">Components</h1>
	<h2 class="my-16 text-2xl text-center">Coming soon™</h2>
	<div class="flex flex-wrap p-4 place-content-center">
		<a
			*ngFor="let category of categories"
			[routerLink]="['/sections/' + category]"
			class="px-3 py-1 m-0.5 capitalize rounded-md shadow-sm md:px-4 md:py-2"
			[ngClass]="['bg-' + default, 'text-' + defaultInv]"
			>{{ category }}</a
		>
	</div>
	<router-outlet></router-outlet>
</div>
