<div class="container flex-1 my-6" [ngClass]="['text' + defaultInv]">
	<div
		class="flex flex-col items-center px-4 space-y-3 sm:space-y-0 sm:flex-row sm:justify-between"
	>
		<div class="space-y-2 text-center sm:text-left">
			<h1 class="text-5xl font-bold">Components</h1>
			<span class="block" [ngClass]="['text' + plainInv]">
				{{ this.componentTotal }} components in {{ this.categoryTotal }} categories
			</span>
		</div>
		<div class="relative space-y-1 text-sm">
			<label
				for="searchQuery"
				class="block"
				[ngClass]="['text' + plainInv, !query ? 'invisible' : 'visible']"
			>
				Filter categories...
			</label>
			<input
				type="text"
				name="searchQuery"
				id="searchQuery"
				class="px-3 py-1 rounded-md"
				placeholder="Filter categories..."
				[(ngModel)]="query"
				[ngClass]="['border' + neutral, 'bg' + contrast, 'text' + defaultInv]"
			/>
			<button
				*ngIf="!!query"
				type="button"
				title="Clear filter"
				class="absolute border-transparent right-2 top-8"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 512 512"
					fill="currentColor"
					class="flex-shrink-0 w-3 h-3"
					(click)="resetQuery()"
				>
					<polygon
						points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313"
					/>
				</svg>
			</button>
		</div>
	</div>
	<!-- <div *ngIf="(categories | filter: query).length === 0" class="my-8">
		<h2 class="text-lg font-semibold">Didn't find what you need?</h2>
		<p>Request a new component</p>
	</div> -->
	<div class="flex flex-wrap p-4 place-content-center">
		<a
			*ngFor="let category of categories"
			[routerLink]="['/components/' + category.link]"
			[routerLinkActive]="['ring', 'ring-opacity-80', 'ring' + primary]"
			class="relative px-3 py-1 m-1 rounded-md shadow-sm group md:px-4 md:py-2 hover:ring"
			[ngClass]="[
				'hover:ring' + primary,
				(category | filter: query) ? 'text' + contrastInv : 'text' + plainInv,
				(category | filter: query) ? activeBgColor : disabledBgColor,
				(category | filter: query) ? 'no-underline' : 'line-through'
			]"
		>
			<span
				class="absolute top-0 right-0 p-1 text-xs opacity-0 group-hover:opacity-100"
				[routerLinkActive]="['opacity-100']"
				[ngClass]="['text' + defaultInv]"
			>
				{{ category.count }}
			</span>
			<span class="text-sm">{{ category.name }}</span>
		</a>
	</div>
	<router-outlet></router-outlet>
</div>
