<section class="">
	<div class="container flex flex-col-reverse lg:flex-row">
		<div
			class="flex flex-col px-6 py-8 space-y-6 rounded-sm sm:p-8 lg:p-12 lg:w-1/2 xl:w-2/5 bg-primary-variant text-contrast"
		>
			<div class="flex space-x-2 sm:space-x-4">
				<i class="text-lg font-medium leading-relaxed cil-check-circle"></i>
				<div class="space-y-2">
					<p class="text-lg font-medium leading-snug">Lorem ipsum dolor sit amet</p>
					<p class="leading-snug">
						Praesentium ea et neque distinctio quas eius repudiandae quaerat obcaecati
						voluptatem similique!
					</p>
				</div>
			</div>
			<div class="flex space-x-2 sm:space-x-4">
				<i class="text-lg font-medium leading-relaxed cil-check-circle"></i>
				<div class="space-y-2">
					<p class="text-lg font-medium leading-snug">Lorem ipsum dolor sit amet</p>
					<p class="leading-snug">
						Praesentium ea et neque distinctio quas eius repudiandae quaerat obcaecati
						voluptatem similique!
					</p>
				</div>
			</div>
			<div class="flex space-x-2 sm:space-x-4">
				<i class="text-lg font-medium leading-relaxed cil-check-circle"></i>
				<div class="space-y-2">
					<p class="text-lg font-medium leading-snug">Lorem ipsum dolor sit amet</p>
					<p class="leading-snug">
						Praesentium ea et neque distinctio quas eius repudiandae quaerat obcaecati
						voluptatem similique!
					</p>
				</div>
			</div>
		</div>
		<div class="bg-gray-300 lg:w-1/2 xl:w-3/5">
			<div class="flex items-center justify-center p-4 md:p-8 lg:p-12">
				<img
					class="rounded-lg shadow-lg"
					src="https://source.unsplash.com/400x400/?technology"
					alt=""
				/>
			</div>
		</div>
	</div>
</section>
