<header class="body-font text-contrast" [ngClass]="[bgPrimary]">
	<div
		class="container flex flex-col flex-wrap items-center justify-between p-6 mx-auto md:flex-row"
	>
		<a class="flex items-center mb-4 font-extralight md:mb-0" [routerLink]="['/']">
			<i class="text-4xl cil-fingerprint"></i>
		</a>
		<div class="flex space-between-2">
			<a class="p-4 mb-4 font-medium md:mb-0 focus:ring" [routerLink]="['/components']">
				Components
			</a>
			<a class="p-4 mb-4 font-medium md:mb-0 focus:ring" [routerLink]="['/sections']">
				Sections
			</a>
			<a class="p-4 mb-4 font-medium md:mb-0 focus:ring" [routerLink]="['/demos']"> Pages </a>
		</div>
	</div>
</header>
