<div [ngClass]="['text' + defaultInv]">
	<div
		class="flex flex-col min-h-screen"
		[ngClass]="[(isDarkTheme | async) ? 'bg-coolGray-900' : 'bg-coolGray-200']"
	>
		<custom-header></custom-header>
		<main class="flex-1 mt-28 sm:mt-20">
			<custom-breadcrumb></custom-breadcrumb>
			<custom-settings></custom-settings>
			<router-outlet></router-outlet>
		</main>
	</div>
	<custom-footer></custom-footer>
	<span
		*ngIf="devMode"
		class="fixed bottom-0 left-0 px-3 py-2 bg-gray-900 rounded-tr-lg text-coolGray-50"
	>
		<span class="sm:hidden">XS</span>
		<span class="hidden sm:block md:hidden">SM</span>
		<span class="hidden md:block lg:hidden">MD</span>
		<span class="hidden lg:block xl:hidden">LG</span>
		<span class="hidden xl:block 2xl:hidden">XL</span>
		<span class="hidden 2xl:block">XXL</span>
	</span>
</div>
