<div class="container m-8">
	<h1 class="mb-4 text-2xl font-semibold text-center">Our company history</h1>
	<div class="grid grid-cols-1 mx-8 auto-rows-fr">
		<div class="border-b-4 border-l-4" [ngClass]="['border' + neutral]">
			<div class="h-32 my-4 ml-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti facere quo
				dignissimos. At perspiciatis quam ab quo culpa laudantium, accusantium consequatur
				et qui reiciendis blanditiis enim. Ipsum explicabo itaque dolor accusamus
				accusantium nobis corporis saepe doloremque, quod reiciendis veniam nesciunt amet?
				Incidunt labore quia et quidem optio, esse molestias?
			</div>
		</div>
		<div class="border-b-4 border-r-4" [ngClass]="['border' + neutral]">
			<div class="h-24 my-4 mr-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti facere quo
				dignissimos. At perspiciatis quam ab quo culpa laudantium, accusantium consequatur
				et qui reiciendis blanditiis enim. Ipsum explicabo itaque dolor accusamus
				accusantium nobis corporis saepe doloremque, quod reiciendis veniam nesciunt amet?
				Incidunt labore quia et quidem optio, esse molestias?
			</div>
		</div>
		<div class="border-b-4 border-l-4" [ngClass]="['border' + neutral]">
			<div class="h-32 my-4 ml-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti facere quo
				dignissimos. At perspiciatis quam ab quo culpa laudantium, accusantium consequatur
				et qui reiciendis blanditiis enim. Ipsum explicabo itaque dolor accusamus
				accusantium nobis corporis saepe doloremque, quod reiciendis veniam nesciunt amet?
				Incidunt labore quia et quidem optio, esse molestias?
			</div>
		</div>
		<div class="border-b-4 border-r-4" [ngClass]="['border' + neutral]">
			<div class="my-4 mr-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti facere quo
				dignissimos. At perspiciatis quam ab quo culpa laudantium, accusantium consequatur
				et qui reiciendis blanditiis enim. Ipsum explicabo itaque dolor accusamus
				accusantium nobis corporis saepe doloremque, quod reiciendis veniam nesciunt amet?
				Incidunt labore quia et quidem optio, esse molestias?
			</div>
		</div>
		<div class="border-b-4 border-l-4" [ngClass]="['border' + neutral]">
			<div class="my-4 ml-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti facere quo
				dignissimos. At perspiciatis quam ab quo culpa laudantium, accusantium consequatur
				et qui reiciendis blanditiis enim. Ipsum explicabo itaque dolor accusamus
				accusantium nobis corporis saepe doloremque, quod reiciendis veniam nesciunt amet?
				Incidunt labore quia et quidem optio, esse molestias?
			</div>
		</div>
	</div>
</div>
