<custom-showcase [title]="'Button'">
	<custom-show-code [centered]="true">
		<custom-button1></custom-button1>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-button2></custom-button2>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-button3></custom-button3>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-button4></custom-button4>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-button5></custom-button5>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-button6></custom-button6>
	</custom-show-code>
</custom-showcase>
