<div class="py-8">
	<article class="container p-4 md:p-8">
		<h1 class="text-5xl font-bold leading-relaxed">Credits</h1>
		<div class="space-y-8">
			<section>
				<p>
					First of all a huge shoutout to
					<a href="https://twitter.com/adamwathan">Adam Wathan</a> and
					<a href="https://twitter.com/steveschoger">Steve Schoger</a>, the creators of
					TailwindCSS.
				</p>
			</section>

			<section>
				<h2 class="text-3xl font-semibold leading-normal">Animations</h2>
				<a href="https://twitter.com/MilanRaring">Milan Raring</a>
			</section>

			<section>
				<h2 class="text-3xl font-semibold leading-normal">Inspiration</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sequi laborum
					recusandae, accusantium numquam aut quasi dolor quo perspiciatis aliquam.
				</p>
			</section>

			<section>
				<h2 class="text-3xl font-semibold leading-normal">Artwork</h2>
				<p>Illustrations</p>
				<a href="https://lukaszadam.com/illustrations">Lukas Adam</a>
			</section>

			<section>
				<h2 class="text-3xl font-semibold leading-normal">Other</h2>
				<p>Plausible analytics</p>
				<p>Digital Ocean</p>
			</section>
		</div>
	</article>
</div>
