<section class="py-8 bg-coolGray-100">
	<article class="container p-4 prose md:p-8 lg:prose-xl">
		<h1>Credits</h1>
		<p>
			First of all a huge shoutout to
			<a href="https://twitter.com/adamwathan">Adam Wathan</a> and
			<a href="https://twitter.com/steveschoger">Steve Schoger</a>, the creators of
			TailwindCSS.
		</p>

		<h2>Animations</h2>
		<a href="https://twitter.com/MilanRaring">Milan Raring</a>

		<h2>Inspiration</h2>

		<h2>Artwork</h2>
		<p>Illustrations</p>

		<h2>Other</h2>
		<p>Plausible analytics</p>
		<p>Digital Ocean</p>
	</article>
</section>
