<div
	class="inline-flex items-center divide-x rounded"
	[ngClass]="['bg' + primary, 'text' + default, 'divide' + neutral]"
>
	<button class="px-8 py-3" type="button">Caret</button>
	<button class="p-3" type="button" title="Toggle dropdown">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			class="w-5 h-5"
			viewBox="0 0 24 24"
			stroke="currentColor"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
		</svg>
	</button>
</div>
