<custom-showcase [title]="'Login'">
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-login3></custom-login3>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-login4></custom-login4>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-login1></custom-login1>
	</custom-show-code>
	<custom-show-code [centered]="true" [requires]="enum.requires.FORMS">
		<custom-login2></custom-login2>
	</custom-show-code>
</custom-showcase>
