<section>
	<div
		class="container flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl"
	>
		<h1 class="text-4xl font-bold leading-none sm:text-5xl">
			Quisquam necessita vel
			<span class="" [ngClass]="[textPrimary]">laborum doloribus</span> delectus
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">
			Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque
			explicabo!
		</p>
		<div class="flex flex-wrap justify-center">
			<button class="m-2 font-semibold text-dark btn" [ngClass]="[bgPrimary]">
				Get started
			</button>

			<button class="m-2 border text-contrast-inverse border-neutral btn">Learn more</button>
		</div>
	</div>
</section>
