<section>
	<div class="container flex flex-col items-center p-32 text-center xl:max-w-3xl">
		<h1 class="text-5xl font-bold leading-none">
			Quisquam necessita vel
			<span class="text-primary">laborum doloribus</span> delectus
		</h1>
		<p class="px-8 mt-8 mb-12 text-lg">
			Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque
			explicabo!
		</p>
		<div class="flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:space-x-8">
			<button class="font-semibold text-dark btn bg-primary">Get started</button>

			<button class="border text-default-inverse border-neutral btn">Learn more</button>
		</div>
	</div>
</section>
