<section [ngClass]="['bg' + contrast, 'text' + defaultInv]">
	<div class="container px-6 py-12 mx-auto space-y-10 md:px-8">
		<div class="flex flex-col flex-wrap items-center gap-4 md:justify-between md:flex-row">
			<h2 class="text-3xl font-semibold lg:text-4xl">Frequently asked questions</h2>
			<div class="relative">
				<span class="absolute inset-y-0 left-0 flex items-center pl-2">
					<button type="button" title="search" class="p-1 focus:outline-none focus:ring">
						<svg
							fill="currentColor"
							viewBox="0 0 512 512"
							[ngClass]="['text' + defaultInv]"
							class="w-4 h-4"
						>
							<path
								d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z"
							/>
						</svg>
					</button>
				</span>
				<input
					type="search"
					name="Search"
					class="w-32 py-2 pl-10 text-sm rounded-md sm:w-auto focus:outline-none"
					[ngClass]="[
						'bg' + default,
						'text' + defaultInv,
						'focus:bg' + contrast,
						'focus:border' + primary
					]"
					placeholder="Search..."
				/>
			</div>
		</div>
		<div class="grid gap-8 pb-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
			<div
				*ngFor="let category of data"
				class="flex flex-col p-5 rounded-md shadow-sm"
				[ngClass]="['bg' + default]"
			>
				<div
					class="self-start flex-shrink-0 p-2 rounded-full shadow-sm"
					[innerHTML]="category.icon | safeHtml"
					[ngClass]="['text' + primary, 'bg' + contrast]"
				></div>

				<h3 class="mt-1 text-2xl font-semibold">{{ category.title }}</h3>
				<ul class="flex-1 mt-4 ml-4 space-y-4 list-disc">
					<li *ngFor="let faq of category.faqs" class="leading-snug">
						<a href="#" class="hover:underline focus-visible:underline">
							{{ faq.question }}
						</a>
					</li>
				</ul>
				<div
					class="flex items-center self-center px-4 py-2 mt-8 text-sm rounded-sm shadow-sm hover:underline"
					[ngClass]="['bg' + contrast]"
				>
					<img
						class="p-2 mb-5 bg-gray-200 rounded-full"
						src="https://i.ibb.co/27R6nk5/home-1.png"
						alt="home-1"
					/>
					<h3 class="pb-4 text-2xl font-semibold">Account Overview</h3>
					<div class="my-5">
						<div
							class="flex items-center w-full pb-4 space-x-3 cursor-pointer dark:border-gray-700"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="12.5"
								height="16"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M9 5l7 7-7 7"
								/>
							</svg>
							<h4 class="text-gray-900 text-md dark:text-gray-100">
								First time, what do I do next?
							</h4>
						</div>
						<div
							class="flex items-center w-full pb-4 space-x-3 cursor-pointer dark:border-gray-700"
						>
							<div>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="12.5"
									height="16"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M9 5l7 7-7 7"
									/>
								</svg>
							</div>
							<h4 class="text-gray-900 text-md dark:text-gray-100">
								Changing you profile picture and other information
							</h4>
						</div>
						<div
							class="flex items-center w-full pb-4 cursor-pointer dark:border-gray-700"
						>
							<div>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="12.5"
									height="16"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M9 5l7 7-7 7"
									/>
								</svg>
							</div>
							<h4 class="pl-4 text-gray-900 text-md dark:text-gray-100">
								I didnt get a confirmation email, what should I do next
							</h4>
						</div>
						<div
							class="flex items-center w-full pb-4 cursor-pointer dark:border-gray-700"
						>
							<div>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="12.5"
									height="16"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M9 5l7 7-7 7"
									/>
								</svg>
							</div>
							<h4 class="pl-4 text-gray-900 text-md dark:text-gray-100">
								What is the refund policy if I have to cancel during the month
							</h4>
						</div>
					</div>
					<a
						class="flex items-center text-sm font-semibold text-indigo-700 hover:text-indigo-500 hover:underline"
						href="#"
					>
						<p>Show All</p>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-4 h-4 stroke-current"
							width="16"
							height="16"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<line x1="5" y1="12" x2="19" y2="12" />
							<line x1="15" y1="16" x2="19" y2="12" />
							<line x1="15" y1="8" x2="19" y2="12" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
