<section class="bg-default text-default-inverse py-6">
	<div class="container p-10 sm:mx-10 md:mx-14 lg:mx-0">
		<div class="space-y-4 mb-12 text-center">
			<h1 class="text-4xl leading-tight font-semibold">Pricing</h1>
			<p class="px-24">
				Sunt suscipit eaque qui iure unde labore numquam iusto alias explicabo, pariatur
				ipsam, cupiditate aliquid modi?
			</p>
			<div>
				<button
					class="rounded-l-lg border py-1 px-4 font-semibold text-default-inverse"
					[ngClass]="[primaryBorder, primaryBackground]"
				>
					Monthly
				</button>
				<button class="rounded-r-lg border py-1 px-4" [ngClass]="primaryBorder">
					Annually
				</button>
			</div>
		</div>
		<div class="grid gap-6 auto-rows-fr grid-cols-1 lg:grid-cols-3">
			<div class="p-8 flex flex-col items-center border rounded-md">
				<p class="self-start">Personal</p>
				<p class="text-4xl font-bold self-start">FREE</p>
				<ul class="flex-1 self-stretch space-y-2">
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button class="text-default-inverse border border-gray-900 font-semibold btn mt-12">
					Contact
				</button>
			</div>
			<div
				class="p-8 flex flex-col items-center border-2 rounded-md"
				[ngClass]="primaryBorder"
			>
				<p class="self-start">Personal</p>
				<p class="text-4xl font-bold self-start">9€ <span class="text-xl">/mo</span></p>
				<ul class="flex-1 self-stretch">
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button
					class="text-default-inverse font-semibold btn mt-12"
					[ngClass]="primaryBackground"
				>
					Contact
				</button>
			</div>
			<div class="p-8 flex flex-col items-center border rounded-md">
				<p class="self-start">Business</p>
				<p class="text-4xl font-bold self-start">17€ <span class="text-xl">/mo</span></p>
				<ul class="flex-1 self-stretch">
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
					<li class="flex items-center space-x-2">
						<i
							class="text-2xl font-semibold cil-check-alt inline-flex justify-center items-center"
							[ngClass]="primaryText"
						></i>
						<span>Lumet consectetur adipisicing</span>
					</li>
				</ul>
				<button class="text-default-inverse border-2 font-semibold btn mt-12">
					Contact
				</button>
			</div>
		</div>
	</div>
</section>
