<div
	class="flex items-center -mx-4 space-x-2 overflow-x-auto overflow-y-hidden sm:justify-center flex-nowrap"
	[ngClass]="['bg' + default, 'text' + defaultInv]"
>
	<a
		class="flex items-center flex-shrink-0 px-5 py-2 border-b-4"
		href="#"
		[ngClass]="['border' + neutral, 'text' + plainInv]"
	>
		<span>Architecto</span>
	</a>
	<a
		class="flex items-center flex-shrink-0 px-5 py-2 border-b-4"
		href="#"
		[ngClass]="['border' + neutral, 'text' + plainInv]"
	>
		<span>Corrupti</span>
	</a>
	<a
		class="flex items-center flex-shrink-0 px-5 py-2 border-b-4"
		href="#"
		[ngClass]="['border' + primary, 'text' + contrastInv]"
	>
		<span>Excepturi</span>
	</a>
	<a
		class="flex items-center flex-shrink-0 px-5 py-2 border-b-4"
		href="#"
		[ngClass]="['border' + neutral, 'text' + plainInv]"
	>
		<span>Consectetur</span>
	</a>
</div>
