<div class="p-4 space-y-2" [ngClass]="['bg' + default, 'text' + defaultInv]">
	<h3 class="text-base font-semibold">Step 3: Fill in order details</h3>
	<div class="flex max-w-xs space-x-3">
		<span class="w-12 h-2 rounded-sm" [ngClass]="['bg' + primary]"></span>
		<span class="w-12 h-2 rounded-sm" [ngClass]="['bg' + primary]"></span>
		<span class="w-12 h-2 rounded-sm" [ngClass]="['bg' + defaultInv]"></span>
		<span class="w-12 h-2 rounded-sm" [ngClass]="['bg' + plain]"></span>
		<span class="w-12 h-2 rounded-sm" [ngClass]="['bg' + plain]"></span>
	</div>
</div>
