<fieldset [ngClass]="['text' + defaultInv]" class="w-full space-y-1">
	<label for="url" class="block text-sm font-medium">Website</label>
	<div class="flex">
		<span
			class="flex items-center px-3 pointer-events-none sm:text-sm rounded-l-md"
			[ngClass]="['bg' + neutral]"
		>
			https://
		</span>
		<input
			type="text"
			name="url"
			id="url"
			class="flex flex-1 border sm:text-sm rounded-r-md focus:ring-inset"
			[ngClass]="[
				'border' + neutral,
				'text' + defaultInv,
				'bg' + default,
				'focus:ring' + primary
			]"
			placeholder="www.mambaui.com"
		/>
	</div>
</fieldset>
