<div class="bg-default text-default-inverse">
	<div class="container grid grid-cols-12">
		<div
			class="flex flex-col justify-center col-span-12 align-middle bg-gray-700 bg-no-repeat bg-cover lg:col-span-6 lg:h-auto"
			style="
				background-image: url('https://source.unsplash.com/random/640x480');
				background-position: center center;
				background-blend-mode: multiply;
				background-size: cover;
			"
		>
			<div class="p-8 py-12 text-center text-gray-200">
				<pre>12 June</pre>
				<h1 class="py-4 -mt-2 text-5xl font-bold leading-none sm:leading-snug">
					Lorem, ipsum dolor sit amet consectetur adipisicing.
				</h1>
				<p class="pb-2">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!
				</p>
				<i class="w-10 h-10 mt-8 text-2xl cil-arrow-right"></i>
			</div>
		</div>
		<div class="flex flex-col col-span-12 p-6 divide-y divide-gray-500 lg:col-span-6 lg:p-10">
			<div class="pt-6 pb-4">
				<pre>12 June</pre>
				<h1 class="-mt-2 text-3xl font-bold">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a
					href="#"
					class="inline-flex items-center py-2 space-x-2 text-sm"
					[ngClass]="[textPrimary]"
				>
					<span class="">Read more</span>
					<i class="inline-flex items-center w-5 h-5 cil-arrow-right"></i>
				</a>
			</div>
			<div class="pt-6 pb-4">
				<pre>12 June</pre>
				<h1 class="-mt-2 text-3xl font-bold">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a
					href="#"
					class="inline-flex items-center py-2 space-x-2 text-sm"
					[ngClass]="[textPrimary]"
				>
					<span class="">Read more</span>
					<i class="inline-flex items-center w-5 h-5 cil-arrow-right"></i>
				</a>
			</div>
			<div class="pt-6 pb-4">
				<pre>12 June</pre>
				<h1 class="-mt-2 text-3xl font-bold">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a
					href="#"
					class="inline-flex items-center py-2 space-x-2 text-sm"
					[ngClass]="[textPrimary]"
				>
					<span class="">Read more</span>
					<i class="inline-flex items-center w-5 h-5 cil-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
