<div class="bg-default text-default-inverse">
	<div class="container grid grid-cols-12">
		<div
			class="col-span-12 bg-cover bg-no-repeat bg-gray-700 flex flex-col justify-center align-middle lg:col-span-6 lg:h-auto"
			style="
				background-image: url('https://source.unsplash.com/random/640x480');
				background-position: center center;
				background-blend-mode: multiply;
				background-size: cover;
			"
		>
			<div class="text-center py-12 p-8 text-gray-200">
				<pre>12 June</pre>
				<h1 class="font-bold -mt-2 text-5xl leading-snug py-4">
					Lorem, ipsum dolor sit amet consectetur adipisicing.
				</h1>
				<p class="pb-2">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!
				</p>
				<i class="mt-8 w-10 h-10 cil-arrow-right text-2xl"></i>
			</div>
		</div>
		<div class="col-span-12 lg:col-span-6 flex flex-col p-6 space-y-16 lg:p-10">
			<div>
				<pre>12 June</pre>
				<h1 class="font-bold -mt-2 text-3xl">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a href="#" class="text-sm text-primary inline-flex items-center py-2 space-x-2">
					<span class="">Read more</span>
					<i class="w-5 h-5 cil-arrow-right inline-flex items-center"></i>
				</a>
			</div>
			<div>
				<pre>12 June</pre>
				<h1 class="font-bold -mt-2 text-3xl">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a href="#" class="text-sm text-primary inline-flex items-center py-2 space-x-2">
					<span class="">Read more</span>
					<i class="w-5 h-5 cil-arrow-right inline-flex items-center"></i>
				</a>
			</div>
			<div>
				<pre>12 June</pre>
				<h1 class="font-bold -mt-2 text-3xl">Lorem ipsum dolor sit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, a!</p>
				<a href="#" class="text-sm inline-flex text-primary items-center py-2 space-x-2">
					<span class="">Read more</span>
					<i class="w-5 h-5 cil-arrow-right inline-flex items-center"></i>
				</a>
			</div>
		</div>
	</div>
</div>
