<custom-showcase [title]="'Snackbar'">
	<custom-show-code [centered]="true">
		<custom-snackbar4></custom-snackbar4>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-snackbar5></custom-snackbar5>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-snackbar6></custom-snackbar6>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-snackbar1></custom-snackbar1>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-snackbar2></custom-snackbar2>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-snackbar3></custom-snackbar3>
	</custom-show-code>
</custom-showcase>
