<custom-showcase [title]="'Call to Action'">
	<custom-show-code>
		<custom-cta1></custom-cta1>
	</custom-show-code>
	<custom-show-code>
		<custom-cta2></custom-cta2>
	</custom-show-code>
	<custom-show-code [requires]="enum.requires.FORMS">
		<custom-cta3></custom-cta3>
	</custom-show-code>
	<custom-show-code>
		<custom-cta4></custom-cta4>
	</custom-show-code>
	<custom-show-code>
		<custom-cta5></custom-cta5>
	</custom-show-code>
	<custom-show-code [requires]="enum.requires.FORMS">
		<custom-cta6></custom-cta6>
	</custom-show-code>
</custom-showcase>
