<section class="container overflow-hidden rounded-lg shadow-sm scrollbar-none">
	<div
		class="overflow-hidden divide-y rounded shadow-sm"
		[ngClass]="['bg' + default, 'divide' + neutralInv]"
	>
		<div class="flex px-2 py-4 space-x-2 overflow-x-auto sm:p-4 sm:space-x-4 flex-nowrap">
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showPreview()">Preview</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showHtml()">HTML</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showVue()">Vue</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showReactFunctional()">
				React
			</button>
			<button class="flex-shrink-0 px-2 text-sm sm:px-3 sm:py-1" (click)="showReactClass()">
				React (class)
			</button>
		</div>
		<div class="relative">
			<div #rawContent *ngIf="!codeVisible">
				<ng-content></ng-content>
			</div>
			<pre
				*ngIf="codeVisible"
				class="p-6 overflow-auto"
				[ngClass]="isDarkTheme ? 'prism-dark' : 'prism-light'"
				style="white-space: pre-line"
			>
				<code class="language-markdown" [innerHTML]="code">
				</code>
			</pre>
			<button
				*ngIf="codeVisible"
				(click)="copyToClipboard()"
				class="absolute top-0 right-0 flex px-4 py-2 mt-3 mr-3 space-x-2 border rounded-lg hover:ring-4"
				[ngClass]="[
					'focus:ring-' + primary,
					'hover:ring-' + primary,
					'border' + primary,
					'bg' + default
				]"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="w-5 h-5"
				>
					<path
						d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z"
					/>
					<path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
				</svg>
				<span>Copy</span>
			</button>
		</div>
	</div>
</section>
