<section class="container overflow-hidden rounded-lg shadow-sm scrollbar-none">
	<div
		class="overflow-hidden divide-y rounded shadow-sm"
		[ngClass]="['bg' + default, 'divide-' + neutralInv]"
	>
		<div class="flex px-2 py-4 space-x-2 overflow-x-auto sm:p-4 sm:space-x-4 flex-nowrap">
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showPreview()">Preview</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showHtml()">HTML</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showVue()">Vue</button>
			<button class="px-2 text-sm sm:px-3 sm:py-1" (click)="showReactFunctional()">
				React
			</button>
			<button class="flex-shrink-0 px-2 text-sm sm:px-3 sm:py-1" (click)="showReactClass()">
				React (class)
			</button>
		</div>
		<div class="relative">
			<div #rawContent *ngIf="!codeVisible">
				<ng-content></ng-content>
			</div>
			<pre
				*ngIf="codeVisible"
				class="p-6 overflow-auto"
				[ngClass]="isDarkTheme ? 'prism-dark' : 'prism-light'"
				style="white-space: pre-line"
			>
				<code class="language-markdown" [innerHTML]="code">
				</code>
			</pre>
			<button
				*ngIf="codeVisible"
				(click)="copyToClipboard()"
				class="absolute top-0 right-0 flex px-4 py-2 mt-3 mr-3 space-x-2 border rounded-lg hover:ring-4"
				[ngClass]="[
					'focus:ring-' + primary,
					'hover:ring-' + primary,
					'border' + primary,
					'bg' + default
				]"
			>
				<i class="self-center text-xl cil-copy"></i>
				<span>Copy</span>
			</button>
		</div>
	</div>
</section>
