<div class="relative inline-block text-left">
	<button
		type="button"
		class="inline-flex justify-center p-2 text-sm font-medium rounded-full focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
		[ngClass]="[
			'hover:bg' + contrast,
			'focus-visible:bg' + contrast,
			'text' + defaultInv,
			'focus-visible:ring' + primary
		]"
	>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 512 512"
			class="flex-shrink-0 w-5 h-5 fill-current"
		>
			<path
				d="M256,144a64,64,0,1,0-64-64A64.072,64.072,0,0,0,256,144Zm0-96a32,32,0,1,1-32,32A32.036,32.036,0,0,1,256,48Z"
			/>
			<path
				d="M256,368a64,64,0,1,0,64,64A64.072,64.072,0,0,0,256,368Zm0,96a32,32,0,1,1,32-32A32.036,32.036,0,0,1,256,464Z"
			/>
			<path
				d="M256,192a64,64,0,1,0,64,64A64.072,64.072,0,0,0,256,192Zm0,96a32,32,0,1,1,32-32A32.036,32.036,0,0,1,256,288Z"
			/>
		</svg>
	</button>
	<div
		class="absolute right-0 px-2 pb-2 mt-2 text-left origin-top-right divide-y rounded-md shadow-lg w-60"
		[ngClass]="['bg' + contrast, 'text' + defaultInv, 'divide' + neutral]"
	>
		<div class="flex items-center px-2 py-4 space-x-4">
			<img
				class="w-12 h-12 bg-gray-500 rounded-full"
				src="https://source.unsplash.com/100x100/?portrait"
				alt=""
			/>
			<div>
				<h2 class="text-lg font-semibold">Leroy Jenkins</h2>
				<span class="flex items-center space-x-1">
					<a
						rel="noopener noreferrer"
						href="#"
						class="text-xs hover:underline"
						[ngClass]="['text' + plainInv]"
					>
						&#64;leroyjenkins
					</a>
				</span>
			</div>
		</div>
		<div class="py-2 space-y-1">
			<a
				href="#"
				class="block px-2 py-1 text-sm"
				[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
			>
				Dashboard
			</a>
			<a
				href="#"
				class="block px-2 py-1 text-sm"
				[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
			>
				Create post
			</a>
			<a
				href="#"
				class="block px-2 py-1 text-sm"
				[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
			>
				Reading list
			</a>
		</div>
		<div class="py-2 space-y-1">
			<a
				href="#"
				class="block px-2 py-1 text-sm"
				[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
			>
				Settings
			</a>
			<a
				href="#"
				class="block px-2 py-1 text-sm"
				[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
			>
				Support
			</a>
		</div>
		<button
			type="button"
			class="block w-full p-2 text-sm text-left"
			[ngClass]="['focus-visible:bg' + default, 'hover:bg' + default]"
		>
			Log out
		</button>
	</div>
</div>
