<div class="bg-default text-default-inverse">
	<div class="container grid grid-cols-12">
		<div
			class="bg-gray-700 bg-no-repeat bg-cover col-span-full lg:col-span-4"
			style="
				background-image: url('https://source.unsplash.com/random/640x480');
				background-position: center center;
				background-blend-mode: multiply;
				background-size: cover;
			"
		></div>
		<div class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10">
			<pre class="text-xs">Tag</pre>
			<h1 class="text-3xl font-semibold">Lorem ipsum dolor sit.</h1>
			<p class="flex-1 pt-2">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, reprehenderit
				adipisci tempore voluptas laborum quod.
			</p>
			<a
				href="#"
				class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm"
				[ngClass]="[textPrimary]"
			>
				<span class="">Read more</span>
				<i class="inline-flex items-center w-5 h-5 cil-arrow-right"></i>
			</a>
			<div class="flex items-center justify-between pt-2">
				<div class="flex space-x-2">
					<i
						class="flex items-center justify-center w-8 h-8 rounded-full text-dark cil-user text-md"
						[ngClass]="[bgPrimary]"
					></i>
					<span class="self-center">by Leroy Jenkins</span>
				</div>
				<span>3 min read</span>
			</div>
		</div>
	</div>
</div>
