<section class="bg-default text-default-inverse py-6">
	<div class="container p-10 flex flex-col justify-center items-center lg:flex-row">
		<div class="flex-1 p-16 flex flex-col justify-center items-center">
			<pre class="text-sm">Basic</pre>
			<p class="text-5xl font-bold text-center">39€</p>
			<p class="text-default-inverse font-semibold text-center">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button class="text-default-inverse bg-primary font-semibold btn mt-12">Contact</button>
		</div>
		<div
			class="flex-1 p-12 rounded-md bg-primary flex flex-col justify-center items-center text-default-inverse text-center"
		>
			<pre class="text-sm font-semibold">Advanced</pre>
			<p class="text-5xl font-extrabold">89€</p>
			<p class="font-semibold">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button class="bg-default text-primary font-semibold btn mt-12">Contact</button>
		</div>
	</div>
</section>
