<section class="py-6 bg-default text-contrast-inverse">
	<div class="container flex flex-col items-center justify-center p-10 lg:flex-row">
		<div class="flex flex-col items-center justify-center flex-1 p-16">
			<pre class="text-sm">Basic</pre>
			<p class="text-5xl font-bold text-center">39€</p>
			<p class="font-semibold text-center">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button class="mt-12 font-semibold border border-neutral text-contrast-inverse btn">
				Contact
			</button>
		</div>
		<div
			class="flex flex-col items-center justify-center flex-1 p-12 text-center text-dark rounded-md bg-primary"
		>
			<pre class="text-sm font-semibold">Advanced</pre>
			<p class="text-5xl font-bold">89€</p>
			<p class="font-semibold">
				Nemo deserunt possimus quo provident recusandae! Dolores qui architecto omnis
				pariatur eos voluptatibus sequi cum, non nesciunt aspernatur a?
			</p>
			<button class="mt-12 font-semibold bg-default text-contrast-inverse btn">
				Contact
			</button>
		</div>
	</div>
</section>
