<div class="p-6 py-12" [ngClass]="['bg' + primary, 'text' + contrast]">
	<div class="container mx-auto">
		<div class="flex flex-col lg:flex-row items-center justify-between">
			<h2 class="text-center text-5xl tracking-tighter font-bold">Up to 50% Off</h2>
			<div class="space-x-2 text-center">
				<span class="">Plus free shipping! Use code:</span>
				<span class="font-bold text-lg">MAMBA</span>
			</div>
			<a
				class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block"
				href="#"
				rel="noreferrer noopener"
				[ngClass]="['bg' + contrastInv, 'text' + contrast, 'border' + plainInv]"
			>
				Shop Now
			</a>
		</div>
	</div>
</div>
