<main class="body-font">
	<div class="container">
		<h1 class="font-mont font-extrabold text-7xl mt-5 mb-2">
			Commercial purposes
		</h1>
		<p class="font-mont px-8">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, est
			aperiam iste ea earum nesciunt ipsam amet? Temporibus delectus
			officia excepturi similique iste doloremque qui magni perspiciatis
			aliquid vel rem non atque sunt explicabo consequuntur tempore
			voluptatem ipsam, impedit ipsa aut accusantium inventore tenetur.
			Nobis reprehenderit illo culpa accusantium officiis.
		</p>

		<h1 class="font-mont font-bold text-4xl mt-5 mb-2">
			Commercial purposes
		</h1>
		<p class="font-mont px-8">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, est
			aperiam iste ea earum nesciunt ipsam amet? Temporibus delectus
			officia excepturi similique iste doloremque qui magni perspiciatis
			aliquid vel rem non atque sunt explicabo consequuntur tempore
			voluptatem ipsam, impedit ipsa aut accusantium inventore tenetur.
			Nobis reprehenderit illo culpa accusantium officiis.
		</p>

		<i class="cib-adobe text-6xl text-primary"></i>
	</div>
</main>
