<section class="bg-coolGray-100">
	<article class="container p-4 prose md:p-8 lg:prose-xl">
		<h1>Create stylish websites by copy-pasting components</h1>
		<p>
			All the components are just good ol' HTML and CSS, but without the need of writing
			complex css rules thanks to
			<a href="https://tailwindcss.com/">TailwindCSS</a>. TailwindCSS is a utility-first CSS
			framework so if one of my components doesn't fit your needs just right, you can modify
			them easily by following the TailwindCSS
			<a href="https://tailwindcss.com/docs">documentation</a>.
		</p>

		<h2>Features</h2>
		<p>
			There are dozens of individual components and page sections that you can just copy-paste
			you your own website.
		</p>

		<h2>Prerequisites</h2>
		<p>
			Since everything you see on this page is built with TailwindCSS you'll need to have it
			installed as well for the components and sections to work out-of-the-box. They have an
			extensive <a href="https://tailwindcss.com/docs/installation">installation guide</a> in
			their docs for all sorts of different tools and frameworks.
		</p>
		<p>
			Also if you want to use the exact same icons as I have, you'll need to install
			<a href="https://icons.coreui.io/">CoreUI Icons</a> as well. And most of the text on the
			site uses the
			<a href="https://fonts.google.com/specimen/Montserrat">Montserrat</a> font-family.
		</p>

		<h2>Coming soon™</h2>
		<ul>
			<li>Full demo pages for different purposes such as marketing or blogging</li>
			<li>Plenty of new components and sections</li>
			<li>More customizable colors and shades from the TailwindCSS 2.0 color palette</li>
			<li>
				Ability to view the components in tablet and mobile sizes without resizing the
				browser
			</li>
			<li>Copy-pasting React and Vue components</li>
			<p>
				Something else that I haven't thought of? If you have a feature request or just want
				to chat, you can contact me on Twitter
				<a href="https://www.twitter.com/nnowwakk">@nnowwakk</a> or you can create a new
				issue on <a href="https://github.com/Microwawe/ui-kit/issues">Github</a>.
			</p>
			<a href="https://www.buymeacoffee.com/nnowwakk" target="_blank"
				><img
					src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
					alt="Buy Me A Coffee"
					style="height: 60px !important; width: 217px !important"
			/></a>
		</ul>
	</article>
</section>
