<section class="p-8 my-8">
	<div class="container flex flex-col items-center px-6 mb-12 md:px-12">
		<h1 class="text-4xl font-semibold leading-none text-center">
			What our customers are saying about us
		</h1>
	</div>
	<div class="container grid grid-cols-1 gap-20 px-6 md:px-12 lg:grid-cols-2">
		<div class="flex flex-col items-center mx-12 lg:mx-0">
			<div class="relative text-center">
				<i
					class="absolute top-0 left-0 font-semibold text-neutral cil-double-quote-sans-left"
				></i>
				<p class="px-6 py-1 text-lg italic">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
					quibusdam, eligendi exercitationem molestias possimus facere.
				</p>
				<i
					class="absolute bottom-0 right-0 font-semibold text-neutral cil-double-quote-sans-right"
				></i>
			</div>
			<span class="w-12 h-1 my-2 rounded-lg bg-primary"></span>
			<p class="">Leroy Jenkins</p>
		</div>
		<div class="flex flex-col items-center max-w-lg mx-12 lg:mx-0">
			<div class="relative text-center">
				<i
					class="absolute top-0 left-0 font-semibold text-neutral cil-double-quote-sans-left"
				></i>
				<p class="px-6 py-1 text-lg italic">
					Accusantium illum cupiditate harum asperiores iusto quos quasi quis quae! Fugit
					doloribus, voluptatum quidem magnam velit excepturi nobis, reprehenderit ducimus
					incidunt quisquam quae veritatis, quos iure harum.
				</p>
				<i
					class="absolute bottom-0 right-0 font-semibold text-neutral cil-double-quote-sans-right"
				></i>
			</div>
			<span class="w-12 h-1 my-2 rounded-lg bg-primary"></span>
			<p class="">Leroy Jenkins</p>
		</div>
	</div>
</section>
