<div class="bg-default text-default">
	<div class="container grid grid-cols-12">
		<div
			class="col-span-full lg:col-span-4 bg-gray-700 bg-cover bg-no-repeat h-64"
			style="
				background-image: url('https://source.unsplash.com/random/640x480');
				background-position: center center;
				background-blend-mode: multiply;
				background-size: cover;
			"
		></div>
		<div
			class="col-span-full row-span-full lg:col-span-8 flex flex-col p-6 lg:p-10"
		>
			<pre class="text-xs">Tag</pre>
			<h1 class="text-3xl font-semibold">Lorem ipsum dolor sit.</h1>
			<p class="flex-1 pt-2">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
				reprehenderit adipisci tempore voluptas laborum quod.
			</p>
			<a
				href="#"
				class="text-sm inline-flex items-center pt-2 pb-6 space-x-2"
				[ngClass]="primaryText"
			>
				<span class="">Read more</span>
				<i class="w-5 h-5 cil-arrow-right inline-flex items-center"></i>
			</a>
			<div class="flex justify-between pt-2 items-center">
				<div class="flex space-x-2">
					<i
						class="w-8 h-8 rounded-full flex justify-center items-center cil-user text-md"
						[ngClass]="primaryBackground"
					></i>
					<span class="self-center">by Leroy Jenkins</span>
				</div>
				<span>3 min read</span>
			</div>
		</div>
	</div>
</div>
