<div class="bg-default text-default">
	<div class="container grid grid-cols-12">
		<div
			class="col-span-full lg:col-span-4 bg-gray-700 bg-cover bg-no-repeat h-64"
			style="
				background-image: url('https://source.unsplash.com/random/640x480');
				background-position: center center;
				background-blend-mode: multiply;
				background-size: cover;
			"
		></div>
		<div class="col-span-full lg:col-span-8 flex flex-col p-6 lg:p-10">
			<pre class="text-xs">Tag</pre>
			<h1 class="text-3xl font-semibold">Lorem ipsum dolor sit.</h1>
			<p class="flex-1 pt-2 pb-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
				reprehenderit adipisci tempore voluptas laborum quod.
			</p>
			<div class="flex justify-between pt-2 items-center">
				<div class="flex space-x-2">
					<i
						class="w-8 h-8 bg-primary rounded-full flex justify-center items-center cil-user text-md"
					></i>
					<span class="self-center">by Leroy Jenkins</span>
				</div>
				<span>3 min read</span>
			</div>
		</div>
	</div>
</div>
