<custom-showcase [title]="'Blog'">
	<custom-show-code>
		<custom-blog6></custom-blog6>
	</custom-show-code>
	<custom-show-code>
		<custom-blog7></custom-blog7>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-blog5></custom-blog5>
	</custom-show-code>
	<custom-show-code>
		<custom-blog3></custom-blog3>
	</custom-show-code>
	<custom-show-code>
		<custom-blog1></custom-blog1>
	</custom-show-code>
	<custom-show-code>
		<custom-blog2></custom-blog2>
	</custom-show-code>
	<custom-show-code [centered]="true">
		<custom-blog4></custom-blog4>
	</custom-show-code>
</custom-showcase>
