<section [ngClass]="['bg' + default, 'text' + defaultInv]">
	<div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
		<h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">
			Frequently Asked Questions
		</h2>
		<div class="divide-y" [ngClass]="['divide' + neutral]">
			<div class="py-6 space-y-2 md:grid md:grid-cols-12 md:gap-8 md:space-y-0">
				<h3 class="font-semibold md:col-span-5">
					Optio maiores eligendi molestiae totam dolores similique?
				</h3>
				<p class="md:pl-0 md:col-span-7">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde neque in fugiat
					magni, quas animi enim veritatis deleniti ex. Impedit.
				</p>
			</div>
			<div class="py-6 space-y-2 md:grid md:grid-cols-12 md:gap-8 md:space-y-0">
				<h3 class="font-semibold md:col-span-5">
					Optio maiores eligendi molestiae totam dolores similique?
				</h3>
				<p class="md:pl-0 md:col-span-7">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aspernatur quae,
					eos explicabo odit minima libero veniam similique quibusdam doloribus facilis
					ipsa accusantium vel maiores corrupti! Libero voluptate a doloribus?
				</p>
			</div>
			<div class="py-6 space-y-2 md:grid md:grid-cols-12 md:gap-8 md:space-y-0">
				<h3 class="font-semibold md:col-span-5">
					Modi dolorem veritatis culpa quos consequuntur beatae itaque excepturi
					perspiciatis?
				</h3>
				<p class="md:pl-0 md:col-span-7">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates
					aspernatur dolores in consequatur doloremque inventore reprehenderit,
					consequuntur perspiciatis architecto.
				</p>
			</div>
			<div class="py-6 space-y-2 md:grid md:grid-cols-12 md:gap-8 md:space-y-0">
				<h3 class="font-semibold md:col-span-5">Magni reprehenderit possimus debitis?</h3>
				<p class="md:pl-0 md:col-span-7">
					Sed consectetur quod tenetur! Voluptatibus culpa incidunt veritatis velit quasi
					cupiditate unde eaque! Iure, voluptatibus autem eaque unde possimus quae.
				</p>
			</div>
		</div>
	</div>
</section>
