<section class="py-6 bg-default text-default-inverse">
	<div class="container flex flex-col items-center justify-center p-4 sm:p-10">
		<p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Development team</p>
		<h1 class="text-4xl font-bold leading-none text-center sm:text-5xl">
			The talended people behind the scenes
		</h1>

		<div class="flex flex-row flex-wrap-reverse justify-center mt-8">
			<div
				*ngFor="let person of [1, 2, 3, 4, 5, 6]; let i = index"
				class="flex flex-col justify-center w-full px-8 mx-6 my-12 text-center rounded-md md:w-96 lg:w-80 xl:w-72 bg-default-inverse text-default"
			>
				<img
					class="self-center w-24 h-24 -mt-12 bg-center bg-cover rounded-full"
					src="https://source.unsplash.com/10{{ i }}x10{{ i }}/?portrait"
					alt=""
				/>
				<div class="flex-1 my-4">
					<p class="text-xl font-semibold leading-snug">Distinctio Animi</p>
					<p class="">Visual Designer</p>
				</div>
				<div class="flex items-center justify-center p-3 space-x-3 border-t-2">
					<a href="#" class="hover:text-primary">
						<i class="text-lg cib-mail-ru"></i>
					</a>
					<a href="#" class="hover:text-primary">
						<i class="text-lg cib-twitter"></i>
					</a>
					<a href="#" class="hover:text-primary">
						<i class="text-lg cib-linkedin-in"></i>
					</a>
					<a href="#" class="hover:text-primary">
						<i class="text-lg cib-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
